body {
  background: #55fccc;
}
.container {
  width: 110em;
  position: absolute;
  top: 30%;
  left: 30%;
  
  }
  input {
    font-size:16px;
    padding: 10px;
    width:300px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  input:focus {
    outline: none;
  }
  #button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid white;
    margin: 0 0.3em 0.3em 0;
    box-sizing:border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Robota", "sans-serif";
    font-weight: 400;
    text-align: center;
    transition: alt 0.159;
  }
  #button:hover {
    color: #ddd;
    border-color: #bbb;
  }
  #button:active{
    color: #bbb;
    border-color: #bbb
  }
  select {
    color: #34456e;
    text-transform: uppercase;
    font-family: "Robota", "sans-serif";
    font-size: 16px;
    padding:8px 10px ;
  }

  span {
    color: white;
    text-transform: uppercase;
    font-family: "Robota", "sans-serif";
    font-size: 16px;
    padding: 10px;
  }
  